body{
    background-image: url(https://www.wallpaperbetter.com/wallpaper/574/905/94/abstract-form-1080P-wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
header{
    text-align: center;
    padding-bottom: 20px;
    color: rgb(247, 241, 238);
    font-family: 'Fredoka One', cursive;;
    font-size: 20px;
    position: relative;
    top: -20px;
}
#description span{
    font-family: 'Niconne', cursive;
    font-size: 25px;
    background-color: rgba(49, 73, 77, 0.5);
    padding: 5px;
    border-radius: 10px;
}
section{

    display: block;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
label{
    display: flex;
}
#survey-form{

    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: rgba(44, 128, 131, 0.5);
    font-size: 20px;
    padding: 30px;
    border-radius: 10px;
    width:560px;
}
#name,#email{
    padding-right : 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: left;
    font-size: 20px;
    border-radius:5px ;
    width: 100%;
}
.age,.dropdown1{
    padding-top: 10px;
    display: inline-block;
}
.age{
    position: relative;
    top: -2px
}
.dropdown1{
    padding-left: 165px;
}
.input-checkbox,.input-radio{
    padding-top: 10px;
    display: inline-block;
    margin-right: 0.625rem;;

}
#dropdown{
    padding: 7px 7px 7px 0px;
    width: 200px;
    text-align: center;
    border-radius: 5px;
}
#number{
    padding: 5px 5px 5px 0px;
    width: 97px;
    height: 20px;
    text-align: center;
    border-radius: 5px;
}
#comment{
    /*padding:0px 10px 10px 0px;*/
    border-radius: 5px;
    font-size: 13px;
    width: 100%;
    height: 100px                                    ;
}
.contents-move-up{
    position: relative;
    top: -12px;
}
.submit-button{
    width: 100%;
    text-align: center;
   
}
#submit{
    width: 100%;
    background-color: #37af65;
    padding: 10px;
    border-radius: 8px;
    font-size: 15px;
}
